@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/skycoin/Skycoin-Light.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Light.woff') format('woff');
}
@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/skycoin/Skycoin-LightItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/skycoin/Skycoin-Regular.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/skycoin/Skycoin-RegularItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-RegularItalic.woff') format('woff');
}
@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/skycoin/Skycoin-Bold.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/skycoin/Skycoin-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-BoldItalic.woff') format('woff');
}

body, div, h1, h2, h3, h4, h5, h6, p, span, a, button, option, select,
mat-panel-description, mat-panel-title, mat-option.mat-option {
  font-family: Skycoin, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
}

.align-points {
	display: inline-block;
	text-align: left;
}

.center-image {
	margin: auto auto;
}

.reveal pre code {
	max-height: 700px;
}

.gp-logo div {
	top: 2px;
	left: 2px;
}

.jsfiddle {
	height: 450px;
	width: 100%;
}

.reveal section img {
	background: transparent;
	border: 0;
	box-shadow: none;
}

.subtitle {
	color: gray;
	font-size: 0.6em;
}